<?xml version="1.0" encoding="utf-8"?>
<Stream>
  <Left>
    <Analyze-1>
      <T1>0.65</T1>
      <T2>0.65</T2>
      <TA>1000</TA>
    </Analyze-1>
    <Analyze-2>
      <T1>0.54</T1>
      <T2>0.54</T2>
      <TA>1000</TA>
    </Analyze-2>
    <Analyze-3>
      <T1>0.44</T1>
      <T2>0.44</T2>
      <TA>300</TA>
    </Analyze-3>
    <Analyze-4>
      <T1>0.34</T1>
      <T2>0.34</T2>
      <TA>300</TA>
    </Analyze-4>
  </Left>
  <Right>
    <Analyze-1>
      <T1>0.65</T1>
      <T2>0.65</T2>
      <TA>1000</TA>
    </Analyze-1>
    <Analyze-2>
      <T1>0.54</T1>
      <T2>0.54</T2>
      <TA>1000</TA>
    </Analyze-2>
    <Analyze-3>
      <T1>0.44</T1>
      <T2>0.44</T2>
      <TA>300</TA>
    </Analyze-3>
    <Analyze-4>
      <T1>0.34</T1>
      <T2>0.34</T2>
      <TA>300</TA>
    </Analyze-4>
  </Right>
</Stream>